body {
  margin: 0;
}

#mainContainer {
  width: 90%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  padding-bottom: 50px;
}

.switch {
  margin-top: 5px;
  margin-bottom: 20px;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.card .card-content {
  padding: 12px 24px;
}
.card .card-action {
  padding-bottom: 0;
}
#bookInput {
  display: none;
}

/* label color */
.input-field label {
  color: #fff;
}
/* label focus color */
.input-field input[type="text"]:focus + label {
  color: #fff;
}
.input-field input[type="text"].valid:focus + label {
  color: #26a69a;
}

.input-field input[type="number"]:focus + label {
  color: #fff;
}
.input-field input[type="number"].valid:focus + label {
  color: #26a69a;
}
/* label underline focus color */
.input-field input[type="text"]:focus {
  color: #fff;
  border-bottom: 1px solid #4db6ac;
  box-shadow: 0 1px 0 0 #4db6ac;
}

.input-field input[type="text"].valid:focus {
  color: #fff;
  border-bottom: 1px solid #26a69a;
  box-shadow: 0 1px 0 0 #26a69a;
}

.input-field input[type="number"]:focus {
  color: #fff;
  border-bottom: 1px solid #4db6ac;
  box-shadow: 0 1px 0 0 #4db6ac;
}
.input-field input[type="number"].valid:focus {
  color: #fff;
  border-bottom: 1px solid #26a69a;
  box-shadow: 0 1px 0 0 #26a69a;
}

/* valid color */
.input-field input[type="text"].valid {
  color: #fff;
  border-bottom: 1px solid #4db6ac;
  box-shadow: 0 1px 0 0 #4db6ac;
}

.input-field input[type="number"].valid {
  color: #fff;
  border-bottom: 1px solid #4db6ac;
  box-shadow: 0 1px 0 0 #4db6ac;
}

/* invalid color */
.input-field input[type="text"].invalid {
  border-bottom: 1px solid#ef5350;
  box-shadow: 0 1px 0 0#ef5350;
}
*/ .input-field input[type="number"].invalid {
  border-bottom: 1px solid#ef5350;
  box-shadow: 0 1px 0 0#ef5350;
}
*/
  
     /* icon prefix focus color */
     .input-field .prefix.active {
  color: #fff;
}
